html, body{
	margin: 0;
    padding: 0;
}
body {
	background-color: white;
	color: black;
}
#navbar ul {
	font-family: "Franklin Gothic Book", sans-serif;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fbfc99;
	border-bottom: 1px solid black;
}
#navbar li {
	display: inline;
	float: left;
}
#navbar li:last-child {
	border-right: none;
}
#navbar li a {
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#navbar li a:hover {
	color: #000000;
	background-color: #ee76df;
}
#header {
	text-shadow: 3px 3px 7px #000;
	background-image: url("Website header.png");
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}
#header h1{
	color: white;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	font-size: 4em;
	letter-spacing: .1em;
	margin-top: 5;
	padding-top: 1em;
}
#header h2{
	color: white;
	font-family: "Segoe UI", sans-serif;
	text-align: center;
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 2em;
}
#header hr {
	color: #ddd;
	background-color: #000000;
	height: 1px;
	width: 100%;
	border: 0;
}
.content {
	margin-left: 1em;
}
.content li {
	font-family: "Georgia", sans-serif;
}
.content h3 {
	font-size: 150%;
	font-family: "Myriad Pro", sans-serif;
	text-align: center;
}
.content p {
	font-family: "Georgia", sans-serif;
}
.content table {
    border-collapse: collapse;
}
.content tr:nth-child(even) {
	background-color: #f2f2f2;
}
.content th {
	vertical-align: left;
}
.content th, td {
	border-bottom: 1px solid #bbb;
	padding: 10px;
}
.content td {
    height: 50px;
	text-align: center;
}
.content a:hover {
	color: #ee76df;
}
#main {
	font-family: "Myriad Pro", sans-serif;
	background-color: black;
	color: white;
}
#keyblade table {
	margin: 0 auto;
}
#skill table {
	margin: 0 auto;
}
#awaken table {
	margin: 0 auto;
}
#footer {
	text-align: center;
	margin: 0;
}
#footer hr {
	color: #ddd;
	background-color: #ddd;
	height: 1px;
	width: 100%;
	border: 0;
}
#footer p {
	font-family: "Segoe UI", sans-serif;
}
#footer a {
	color: #0037ff;
}
#footer a:hover {
	color: #ee76df;
}